@import url("./styles/header.css");
@import url('./styles/banner.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,300;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,496;1,496&display=swap');

:root{
    --cor-de-fundo: #EBECEE;
    --branco: #ffffff;
    --cor--categoria: #EB9B00;
    --cor--opcoes-menu:  #002f52;
    --fonte-popins: "Poppins", sans-serif;
    --background-gradient:  linear-gradient(90deg, rgba(6,69,156,1) 0%, rgba(2,0,36,1) 0%, rgba(8,8,111,1) 100%, rgba(9,9,121,1) 100%, rgba(8,8,114,1) 100%, rgba(2,163,221,1) 100%, rgba(5,102,179,1) 100%, rgba(3,152,213,1) 100%, rgba(8,8,115,1) 100%, rgba(0,212,255,1) 100%);
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-popins);
    font-size: 16px;
    font-weight: 400;
    
}
